@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kidzone';
  src: url('../public/fonts/KidZone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Inter, system-ui, sans-serif;
} 